In [ ]:
import os
import sys
os.environ["JAVA_HOME"] = "C:\Program Files\Java\jdk1.8.0_212"
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [1]:
import pyspark
from pyspark.sql import SparkSession
import pyspark.sql.functions as f

In [14]:
spark = SparkSession.builder \
    .appName('poi_exercise') \
    .master('local[*]') \
    .config('spark.sql.execution.arrow.pyspark.enabled', True) \
    .config('spark.driver.memory','10G') \
    .config('spark.sql.repl.eagerEval.enabled', True) \
    .config('spark.network.timeout', '400s') \
    .config('spark.storage.blockManagerSlaveTimeoutMs', '400s') \
    .config('spark.executor.heartbeatInterval', '300s') \
    .getOrCreate()

In [15]:
spark

In [16]:
from pyspark.sql import functions as F
import math

def haversine_formula(lat1, lon1, lat2, lon2):
    """
    Return the distance between two coordinates, in meters.
    """
    lat1 = math.pi / 180.0 * lat1
    lon1 = math.pi / 180.0 * lon1
    lat2 = math.pi / 180.0 * lat2
    lon2 = math.pi / 180.0 * lon2
    radius = 6371  # km
    meters = 1000

    # Use the haversine formula:
    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = math.pow(math.sin(dlat/2),2) + math.cos(lat1) * math.cos(lat2) * math.pow(math.sin(dlon/2),2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    meters = radius * c * meters
    return meters

In [33]:
df_rides = spark.read.option("header", "true").option("inferSchema", "true").csv("data/rides_small_ds.csv")\
.filter(F.col('Lat').isNotNull() & F.col('Lon').isNotNull())

df_poi = spark.read.option("header", "true").option("inferSchema", "true").csv("data/poi_small_ds.csv")\
.withColumn('Location_Lat', F.col("Lat").cast("double"))\
.withColumnRenamed('Lon', 'Location_Lon')\
.select('Name', 'Type', 'Location_Lat', 'Location_Lon')\
.filter(F.col('Location_Lat').isNotNull() & F.col('Location_Lon').isNotNull())

df_rides.show(5)
df_poi.show(5)

+----------------+-------+--------+------+
|       Date/Time|    Lat|     Lon|  Base|
+----------------+-------+--------+------+
|4/1/2014 0:11:00| 40.769|-73.9549|B02512|
|4/1/2014 0:17:00|40.7267|-74.0345|B02512|
|4/1/2014 0:21:00|40.7316|-73.9873|B02512|
|4/1/2014 0:28:00|40.7588|-73.9776|B02512|
|4/1/2014 0:33:00|40.7594|-73.9722|B02512|
+----------------+-------+--------+------+
only showing top 5 rows

+----------------+----+------------+------------+
|            Name|Type|Location_Lat|Location_Lon|
+----------------+----+------------+------------+
|       Starbucks|cafe|   40.640761|  -73.699404|
|Starbucks Coffee|cafe|   41.789708|  -87.601708|
|       Starbucks|cafe|   29.911807|  -95.685513|
|       Starbucks|cafe|   29.845172|  -95.646238|
|           Chase|bank|   40.529512|  -74.540861|
+----------------+----+------------+------------+
only showing top 5 rows

In [34]:
# Format the date and extract only the event that are on the morning or evening range
df_morning_event_rides = df_rides\
                          .select(F.to_timestamp(F.col("Date/Time"), "M/d/y H:mm:ss").alias("arrival_time"), F.col("Lat"), F.col("Lon"))\
                          .withColumn("arrival_hour", F.hour(F.col("arrival_time")))\
                          .where("(arrival_hour between 6 and 11) or (arrival_hour between 17 and 23)")
df_morning_event_rides.show(5)

+-------------------+-------+--------+------------+
|       arrival_time|    Lat|     Lon|arrival_hour|
+-------------------+-------+--------+------------+
|2014-04-01 06:00:00|40.7507|-73.9703|           6|
|2014-04-01 06:01:00|40.7337|-73.9979|           6|
|2014-04-01 06:02:00|40.7236|-74.0111|           6|
|2014-04-01 06:03:00|40.7151|-74.0464|           6|
|2014-04-01 06:06:00|40.7701|-73.9588|           6|
+-------------------+-------+--------+------------+
only showing top 5 rows

In [35]:
# Solution #1 - Use a UDF for the haversine_formula - Takes ~45 seconds
from pyspark.sql import types as T
udf_haversine_formula = F.udf(haversine_formula)

# Attach to each POI all drop offs and pickups that are less than 100 meters apart, using the UDF.
# df_combined = df_morning_event_rides\
#                 .crossJoin(df_poi)\
#                 .where(udf_haversine_formula(df_morning_event_rides["Lat"], df_morning_event_rides["Lon"], df_poi["Lat"], df_poi["Lon"]) < 300)\
#                 .cache()
# df_combined.show(5)


df_combined = df_morning_event_rides\
                .crossJoin(df_poi)\
                .withColumn('distance', udf_haversine_formula(df_morning_event_rides["Lat"], df_morning_event_rides["Lon"], 
                                                              df_poi["Location_Lat"], df_poi["Location_Lon"]))\
                .filter(F.col('distance') < 300)\
                .cache()
df_combined.show(5)

+-------------------+-------+--------+------------+-----+----+------------+------------+------------------+
|       arrival_time|    Lat|     Lon|arrival_hour| Name|Type|Location_Lat|Location_Lon|          distance|
+-------------------+-------+--------+------------+-----+----+------------+------------+------------------+
|2014-04-02 07:30:00|40.7347|-73.9797|           7|Chase|bank|   40.737221|  -73.978682| 293.1508966472016|
|2014-04-02 07:44:00|40.7377|-73.9802|           7|Chase|bank|   40.737221|  -73.978682|138.54379820956495|
|2014-04-02 07:52:00|40.7364|-73.9797|           7|Chase|bank|   40.737221|  -73.978682|125.26236330434024|
|2014-04-02 08:07:00|40.7369|-73.9789|           8|Chase|bank|   40.737221|  -73.978682| 40.14211725233168|
|2014-04-02 08:20:00|40.7349|-73.9772|           8|Chase|bank|   40.737221|  -73.978682|286.70291962886296|
+-------------------+-------+--------+------------+-----+----+------------+------------+------------------+
only showing top 5 rows

In [37]:
df_combined.count()

2952

In [38]:
# Solution #2 - Implement the Haversine Formula with SparkSQL's functions to improve the performance - Takes ~2 seconds
# To understand why UDFs in Python are not always the best option, read here: https://stackoverflow.com/questions/38296609/spark-functions-vs-udf-performance

pi = math.pi
radius = 6371  # km
meters = 1000

# Prepare the two main dataframes
df_morning_event_rides_hav = df_morning_event_rides\
                              .withColumn("lat_hav_rides",(pi / 180.0 * F.col("Lat")))\
                              .withColumn("lon_hav_rides", (pi / 180.0 * F.col("Lon")))

df_poi_hav = df_poi\
              .withColumn("lat_hav_poi", (pi / 180.0 * F.col("Location_Lat")))\
              .withColumn("lon_hav_poi", (pi / 180.0 * F.col("Location_Lon")))

# Crossjoin and apply haversine formula
df_combined = df_morning_event_rides_hav\
                  .crossJoin(df_poi_hav)\
                  .withColumn('dlon', F.col("lon_hav_poi") - F.col("lon_hav_rides"))\
                  .withColumn('dlat', F.col("lat_hav_poi") - F.col("lat_hav_rides"))\
                  .withColumn('a', F.pow(F.sin(F.col('dlat')/2),2)+ F.cos(F.col("lat_hav_rides"))*F.cos(F.col("lat_hav_poi"))*F.pow((F.sin(F.col('dlon')/2)),2))\
                  .withColumn('c', 2 * F.atan2(F.sqrt(F.col('a')), F.sqrt(1-F.col('a'))))\
                  .withColumn('distance', radius * meters * F.col('c'))\
                  .filter(F.col('distance') < 300)\
                  .cache()
df_combined.show(5)

+-------------------+-------+--------+------------+------------------+-------------------+-----+----+------------+------------+-----------------+-------------------+--------------------+--------------------+--------------------+--------------------+------------------+
|       arrival_time|    Lat|     Lon|arrival_hour|     lat_hav_rides|      lon_hav_rides| Name|Type|Location_Lat|Location_Lon|      lat_hav_poi|        lon_hav_poi|                dlon|                dlat|                   a|                   c|          distance|
+-------------------+-------+--------+------------+------------------+-------------------+-----+----+------------+------------+-----------------+-------------------+--------------------+--------------------+--------------------+--------------------+------------------+
|2014-04-02 07:30:00|40.7347|-73.9797|           7|0.7109546348121341| -1.291189344637649|Chase|bank|   40.737221|  -73.978682|0.710998634562577|-1.2911715771858638| 1.77674517851667E-5|4.399975044289128E-5|5.29306530389711E-10|4.601332548221654E-5| 293.1508966472016|
|2014-04-02 07:44:00|40.7377|-73.9802|           7| 0.711006994689694|-1.2911980712839088|Chase|bank|   40.737221|  -73.978682|0.710998634562577|-1.2911715771858638|2.649409804500457...|-8.36012711702416...|1.182221839654620...|2.174600505565295E-5|138.54379820956495|
|2014-04-02 07:52:00|40.7364|-73.9797|           7|0.7109843054094181| -1.291189344637649|Chase|bank|   40.737221|  -73.978682|0.710998634562577|-1.2911715771858638| 1.77674517851667E-5|1.432915315879856...|9.664202043621837...|1.966133468911321E-5|125.26236330434025|
|2014-04-02 08:07:00|40.7369|-73.9789|           8| 0.710993032055678| -1.291175382003633|Chase|bank|   40.737221|  -73.978682|0.710998634562577|-1.2911715771858638|3.804817769070823E-6|5.602506898960691E-6|9.924881926737255...|6.300756121853976E-6| 40.14211725233168|
|2014-04-02 08:20:00|40.7349|-73.9772|           8|0.7109581254706382|-1.2911457114063492|Chase|bank|   40.737221|  -73.978682|0.710998634562577|-1.2911715771858638|-2.58657795146888...|4.050909193875629E-5|5.062779694814402...|4.500124307469202...| 286.7029196288629|
+-------------------+-------+--------+------------+------------------+-------------------+-----+----+------------+------------+-----------------+-------------------+--------------------+--------------------+--------------------+--------------------+------------------+
only showing top 5 rows

In [39]:
df_combined.limit(5)

+-------------------+-------+--------+------------+------------------+-------------------+-----+----+------------+------------+-----------------+-------------------+--------------------+--------------------+--------------------+--------------------+------------------+
|       arrival_time|    Lat|     Lon|arrival_hour|     lat_hav_rides|      lon_hav_rides| Name|Type|Location_Lat|Location_Lon|      lat_hav_poi|        lon_hav_poi|                dlon|                dlat|                   a|                   c|          distance|
+-------------------+-------+--------+------------+------------------+-------------------+-----+----+------------+------------+-----------------+-------------------+--------------------+--------------------+--------------------+--------------------+------------------+
|2014-04-02 07:30:00|40.7347|-73.9797|           7|0.7109546348121341| -1.291189344637649|Chase|bank|   40.737221|  -73.978682|0.710998634562577|-1.2911715771858638| 1.77674517851667E-5|4.399975044289128E-5|5.29306530389711E-10|4.601332548221654E-5| 293.1508966472016|
|2014-04-02 07:44:00|40.7377|-73.9802|           7| 0.711006994689694|-1.2911980712839088|Chase|bank|   40.737221|  -73.978682|0.710998634562577|-1.2911715771858638|2.649409804500457...|-8.36012711702416...|1.182221839654620...|2.174600505565295E-5|138.54379820956495|
|2014-04-02 07:52:00|40.7364|-73.9797|           7|0.7109843054094181| -1.291189344637649|Chase|bank|   40.737221|  -73.978682|0.710998634562577|-1.2911715771858638| 1.77674517851667E-5|1.432915315879856...|9.664202043621837...|1.966133468911321E-5|125.26236330434025|
|2014-04-02 08:07:00|40.7369|-73.9789|           8| 0.710993032055678| -1.291175382003633|Chase|bank|   40.737221|  -73.978682|0.710998634562577|-1.2911715771858638|3.804817769070823E-6|5.602506898960691E-6|9.924881926737255...|6.300756121853976E-6| 40.14211725233168|
|2014-04-02 08:20:00|40.7349|-73.9772|           8|0.7109581254706382|-1.2911457114063492|Chase|bank|   40.737221|  -73.978682|0.710998634562577|-1.2911715771858638|-2.58657795146888...|4.050909193875629E-5|5.062779694814402...|4.500124307469202...| 286.7029196288629|
+-------------------+-------+--------+------------+------------------+-------------------+-----+----+------------+------------+-----------------+-------------------+--------------------+--------------------+--------------------+--------------------+------------------+

In [41]:
# Sort the most popular POIs

# Option 1 - With SparkSQL
df_sorted = df_combined.groupby('Name', 'type').count().sort("count", ascending=False).withColumnRenamed('count', 'num_of_visits')

df_sorted

+--------------------+----------------+-------------+
|                Name|            type|num_of_visits|
+--------------------+----------------+-------------+
|           Starbucks|            cafe|          982|
|               Chase|            bank|          610|
|         Duane Reade|        pharmacy|          592|
|    Starbucks Coffee|            cafe|          378|
|            Citibank|            bank|          351|
|           Starbucks|         toilets|           17|
|     Municipal Lot B|         parking|            5|
|     Municipal Lot D|         parking|            5|
|     Municipal Lot G|         parking|            4|
|                 CVS|        pharmacy|            3|
|Rose of Sharon Ho...|place_of_worship|            2|
|Saint Francis Church|place_of_worship|            2|
| private parking lot|         parking|            1|
+--------------------+----------------+-------------+

In [ ]:
# option 2 - With SparkSQL Context
df_combined.createOrReplaceTempView("combined")
df_sorted = spark.sql("select Name, count(*) as num_of_visits from combined group by Name order by 2 desc")